[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-widget-tweaks = "*"
django-cors-headers = "*"
requests = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = {extras = ["brotli"], version = "*"}
gunicorn = "*"

[dev-packages]
