{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5 mb-5 text-center">
            <div class="fa fa-5x fa-icon fa-spin fa-sync mb-5">
            </div>
            <p>Redirecting to payment page ....</p>

            <form id="payBill" action="https://checkout.flutterwave.com/v3/hosted/pay" method="post">
                {% csrf_token %}
                <h6>Make a Payment</h6>
                <input type="hidden" name="public_key" value="{{ public_key }}" id="public_key" />
                <input type="hidden" name="customer[email]" value="{{ request.user.email }}" id="customer_email" />
                <input type="hidden" name="customer[name]" value="{{ request.user.get_full_name }}" id="customer_name" />
                <input type="hidden" name="tx_ref" value="{{ tx_ref }}" id="tx_ref" />
                <input type="hidden" name="redirect_url"
                    value="https://iamyinka.github.io/residents_app/payment_status.html" id="redirect_url" />
                <input type="hidden" name="currency" value="NGN" />
                <input type="hidden" name="amount" value="{{ amount }}" />
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

<script>

    const paymentForm = document.getElementById("payBill");

    window.onload = function () {
        setTimeout(() => {
            paymentForm.submit();
        }, 2000);
    };
</script>

{% endblock scripts %}